name: Android

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  test-maui-android:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      issues: read
      checks: write
      pull-requests: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - name: Setup .NET MAUI
        run: dotnet workload install maui-android

      - name: Enable KVM
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      - name: Start Android emulator and run tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 35
          target: google_apis
          arch: x86_64
          script: dotnet run --project samples/basic/AppTester --run-settings ./.github/workflows/maui-android.json --report-trx

      - name: Publish test results to GitHub UI
        uses: dorny/test-reporter@v1
        with:
          name: Trx Results
          path: ./samples/basic/AppTester/out/TestResults/*.trx
          reporter: dotnet-trx
