name: Uno browser

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-24.04
    defaults:
      run:
        shell: pwsh
    permissions:
      contents: read
      actions: read
      checks: write

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.0

      - name: Setup .NET
        uses: actions/setup-dotnet@v5.0.1
        with:
          dotnet-version: '10.0.x'

      - name: Setup Uno
        run: |
          dotnet workload install android
          dotnet workload install wasm-tools

      - name: Run tests
        run:
          # select the test defined in the AppTester project, this project harnesses the UI tests.
          dotnet run --project samples/basic/AppTester -c Release --report-trx --no-progress --select uno-browser

      - name: Publish results
        uses: dorny/test-reporter@v2.2.0
        with:
          name: test-results
          path: samples/basic/AppTester/bin/Release/net10.0/TestResults/*.trx
          reporter: dotnet-trx