name: Test WinUI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  run:
    runs-on: windows-2025
    permissions:
      contents: read
      actions: read
      checks: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - name: Publish test runner
        run: dotnet publish samples\basic\WinUITests -r win-x64 -c Release --self-contained -p:WindowsPackageType=None -p:PublishProfile=win-x64 -p:PublishTrimmed=false

      - name: Run test runner
        run: samples\basic\WinUITests\bin\Release\net8.0-windows10.0.19041.0\win-x64\publish\WinUITests.exe
