name: WinUI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  run-test:
    runs-on: windows-2025
    defaults:
      run:
        shell: pwsh
    permissions:
      contents: read
      actions: read
      checks: write

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.0

      - name: Setup .NET
        uses: actions/setup-dotnet@v5.0.1
        with:
          dotnet-version: '10.0.x'

      # the UseSrc is a workaround to prevent a winui issue where the windowsappsdk is packed twice... using a nuget references fixes the issue
      - name: Publish client app
        run: |
          dotnet restore samples/basic/WinUITests/WinUITests.csproj
          dotnet publish samples/basic/WinUITests/WinUITests.csproj -c Release -r win-x64 `
            /p:UseSrc=false `
            /p:WindowsPackageType=None `
            /p:WindowsAppSDKSelfContained=true `
            /p:PublishTrimmed=false `
            /p:PublishSingleFile=false

      - name: Start client app
        run: |
          $log = "$(System.DefaultWorkingDirectory)\client.log"
          Start-Process `
            -FilePath "samples/basic/WinUITests/bin/Release/net10.0-windows10.0.19041.0/win-x64/publish/WinUITests.exe" `
            -RedirectStandardOutput $log `
            -RedirectStandardError $log `
            -NoNewWindow

      - name: Upload client logs
        uses: actions/upload-artifact@v5.0.0
        with:
          name: client-logs
          path: client.log

      - name: Start test server and run tests
        run:
          # start the test server, in charge or controlling the client app and reporting the test results
          dotnet run --project samples/basic/AppTester --run-settings ./.github/workflows/wait-for-process.json --report-trx

      - name: Publish results
        uses: dorny/test-reporter@v2.2.0
        with:
          name: test-results
          path: ./samples/basic/AppTester/out/TestResults/*.trx
          reporter: dotnet-trx