name: WinUI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  run-test:
    runs-on: windows-2025
    permissions:
      contents: read
      actions: read
      checks: write

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.0

      - name: Setup .NET
        uses: actions/setup-dotnet@v5.0.1
        with:
          dotnet-version: '10.0.x'

      - name: Publish unpackaged test runner
        run: |
          dotnet restore samples/basic/WinUITests/WinUITests.csproj
          dotnet publish samples/basic/WinUITests/WinUITests.csproj -c Release -r win-x64 `
            /p:WindowsPackageType=None `
            /p:WindowsAppSDKSelfContained=true `
            /p:PublishTrimmed=false `
            /p:PublishSingleFile=false

      - name: Run Tests
        run: dotnet run --project samples\basic\AppTester --run-settings .\.github\workflows\winui.json --report-trx

      - name: Publish results
        uses: dorny/test-reporter@v2.2.0
        with:
          name: test-results
          path: ./samples/basic/AppTester/out/TestResults/*.trx
          reporter: dotnet-trx