# name: Test WPF

# on:
#   push:
#     branches: [ main ]
#   pull_request:

# jobs:
#   run:
#     runs-on: windows-2025
#     permissions:
#       contents: read
#       actions: read
#       checks: write

#     steps:
#       - name: Checkout
#         uses: actions/checkout@v4

#       - name: Setup .NET
#         uses: actions/setup-dotnet@v4
#         with:
#           dotnet-version: '10.0.x'

#       - name: Run Tests
#         run: dotnet run --project samples\basic\AppTester --run-settings .\.github\workflows\wpf.json --report-trx

#       - name: Publish test results to GitHub UI
#         uses: dorny/test-reporter@v1
#         with:
#           name: test-results
#           path: ./samples/basic/AppTester/out/TestResults/*.trx
#           reporter: dotnet-trx
