name: Windows

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  test-wpf:
    runs-on: windows-2025
    permissions:
      contents: read
      issues: read
      checks: write
      pull-requests: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      # this is not necessesary when installing Factos from NuGet.. but locally it requires this workload
      - name: Setup .NET MAUI
        run: dotnet workload install maui-android

      - name: Run Tests
        run: dotnet run --project samples\basic\AppTester --run-settings .\.github\workflows\wpf.json --report-trx

      - name: Publish test results to GitHub UI
        uses: dorny/test-reporter@v1
        with:
          name: Trx Results
          path: ./samples/basic/AppTester/out/TestResults/*.trx
          reporter: dotnet-trx
