# name: WPF

# on:
#   push:
#     branches: [ main ]
#   pull_request:

# jobs:
#   run-test:
#     runs-on: windows-2025
#     defaults:
#       run:
#         shell: pwsh
#     permissions:
#       contents: read
#       actions: read
#       checks: write

#     steps:
#       - name: Checkout
#         uses: actions/checkout@v6.0.0

#       - name: Setup .NET
#         uses: actions/setup-dotnet@v5.0.1
#         with:
#           dotnet-version: '10.0.x'

#       - name: Publish client app
#         run: |
#           dotnet restore samples/basic/WPFTests/WPFTests.csproj
#           dotnet publish samples/basic/WPFTests/WPFTests.csproj -c Release

#       - name: Start client app in background
#         run:
#           # ToDo: add logs if app fails to start?
#           start samples\basic\WPFTests\bin\Release\net10.0-windows\publish\WPFTests.exe

#       - name: Start test server and run tests
#         run:
#           # start the test server, in charge or controlling the client app and reporting the test results
#           dotnet run --project samples/basic/AppTester --run-settings ./.github/workflows/wait-for-process.json --report-trx

#       - name: Publish results
#         uses: dorny/test-reporter@v2.2.0
#         with:
#           name: test-results
#           path: ./samples/basic/AppTester/out/TestResults/*.trx
#           reporter: dotnet-trx