name: Windows

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build-android:
    runs-on: windows-2025
    permissions:
      contents: read
      issues: read
      checks: write
      pull-requests: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - name: Run Tests
        run: dotnet run --project samples\basic\AppTester --run-settings .\.github\workflows\wpf.json --report-trx

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action/windows@v2
        if: (!cancelled())
        with:
          files: |
            ./samples/basic/AppTester/out/TestResults/*.trx
  
